#VueBasket {
  width: 100%;
}
#VueBasket table, #VueBasket tbody {
  width: inherit;
  max-width: inherit;
}
#VueBasket .items-container tr {
  border-top: 1px solid #E3E3E3;
  width: inherit;
  max-width: inherit;
}
#VueBasket .items-container tr td {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 20px;
}
#VueBasket .items-container tr td:last-child {
  padding-right: 0;
}
#VueBasket .basket-item {
  border-top: 1px solid #E3E3E3;
  width: inherit;
  max-width: inherit;
}
#VueBasket .basket-item-description {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#VueBasket .basket-item-description-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  max-height: unset;
  min-height: unset;
  padding: 12px 0 6px 0;
  max-width: inherit;
  width: auto;
}
#VueBasket .basket-item-description-content .title-container {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-main-black);
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#VueBasket .basket-item-description-content .title-container .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
  color: var(--color-main-black);
}
#VueBasket .basket-item-description .image {
  width: 80px;
  height: 80px;
}
#VueBasket .basket-item-description .image .img-container {
  width: inherit;
  height: inherit;
  position: relative;
}
#VueBasket .basket-item-description .image .img-container img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  top: auto;
  left: auto;
  transform: unset;
}
#VueBasket .basket-item-quantity-container {
  position: relative;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  width: 140px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#VueBasket .basket-item-quantity input {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: none;
  text-align: center;
}
#VueBasket .basket-item-quantity input:disabled {
  opacity: 0.5;
  cursor: default;
}
#VueBasket .basket-item-quantity-btn {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #f1f1f1;
  position: relative;
  -moz-column-gap: 2px;
       column-gap: 2px;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}
#VueBasket .basket-item-quantity-btn:disabled {
  opacity: 0.5;
  cursor: default;
}
#VueBasket .basket-item-quantity-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
#VueBasket .basket-item-quantity-btn.minus::after {
  background-image: url("./images/minus.svg");
}
#VueBasket .basket-item-quantity-btn.plus::after {
  background-image: url("./images/plus.svg");
}
#VueBasket .basket-item-action {
  position: relative;
  width: 34px;
}
#VueBasket .basket-item-action-container {
  width: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=style.css.map */